.dropbtn {
  color: gray;
  border: none;
  font-size: 15px;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #363333;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(115, 106, 106, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.6s ease-out;
}

.dropdown-content a:hover {
  background-color: rgb(111, 103, 103);
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #fff;
}
